@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;500;600;700&display=swap')

$imageSource: "../assets/images"

// Fonts
$ff-primary: 'Poppins', sans-serif
$ff-logo: 'Fredoka One', sans-serif

// Font Weights
$fw-light: 300
$fw-regular: 400
$fw-medium: 500
$fw-semibold: 600
$fw-bold: 700

// Colors
$bgc-header: #003746
$c-header: #01fad9

$bgc-nav: #DFF5F2

$c-input: #003746
$border-input: #003746
$outline-input: #01fad9

$bgc-search-btn: #DFF5F2
$c-search-btn: #003746
$border-search-btn: #003746
$border-search-btn-active: #01fad9

$c-error-message: #01fad9

$c-main: #DFF5F2

// Defaults
$border-radius: 25px

body
  height: 100vh
  width: 100vw
  display: flex
  flex-direction: column
  align-items: center
  font-family: $ff-primary
  background-image: url('/src/assets/images/background.jpg')
  background-position: center center
  background-attachment: fixed
  background-repeat: no-repeat
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

header
  min-width: 100vw
  display: flex
  justify-content: center
  align-items: center
  padding: 15px 0px 0px 0px
  background-color: transparent
  font-size: 1rem

.logo
  display: flex
  gap: 15px
  color: $c-header
  font-family: $ff-logo
  font-size: 1.85em

nav
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  gap: 5px
  background-color: transparent
  padding: 15px 15px
  font-size: 1rem

  form
    display: flex
    justify-content: center
    gap: 10px
    align-items: center

    input
      font-size: .8em
      background-color: $bgc-nav
      color: $c-input
      font-weight: $fw-medium
      border-radius: $border-radius
      border: none
      outline: 2px solid $border-input
      text-indent: 6px

    input:focus
      outline: 2px solid $outline-input
      border-radius: $border-radius

    button
      font-size: .8em
      font-weight: $fw-semibold
      padding: 1px 10px
      background-color: $bgc-search-btn
      color: $c-search-btn
      border: 2px solid $border-search-btn
      border-radius: $border-radius
      transition-duration: 400ms

    button:hover
      cursor: pointer

    button:active
      border: 2px solid $border-search-btn-active

  .active-error
    width: fit-content
    padding: 5px 10px
    text-align: center
    font-size: .54em
    font-weight: $fw-regular
    color: $c-error-message
    background: rgba(0, 0, 0, 0.4)
    border-radius: 10px

  .inactive-error
    display: unset
    padding: 0

.hide
  display: none

main
  display: block
  font-size: 1rem
  width: 100vw
  padding: 0 15px
  min-width: 100vw
  color: $c-main
  font-weight: $fw-medium
  font-size: 1rem

  .current-weather
    display: flex
    justify-content: space-around

    .current-weather-left
      display: flex
      flex-direction: column
      gap: 10px
      [data-name], [data-date-today]
        font-size: .9em

      [data-weather-description]
        font-size: 2em

      [data-main-temp]
        font-size: 3em

      .name-date-container
        display: flex
        flex-direction: column
        gap: 3px

    .current-weather-right
      justify-self: right
      display: flex
      flex-direction: column
      gap: 10px
      font-size: 2em

      .current-weather-right-container
        display: flex
        flex-direction: column

      .current-weather-right-title
        font-size: .35em
        font-weight: $fw-light
        padding-bottom: 2px

      [data-main-feels_like]
        min-width: fit-content

      .humidity-container,.feels-like-container, .wind-speed-container
        display: flex
        gap: 5px

      .wind-speed-symbol-container
        display: flex
        align-items: flex-end
        flex-direction: row

        [data-wind-speed-symbol]
          padding-bottom: .2em
          font-size: .5em

.disable-select
  user-select: none // supported by Chrome and Opera
  -webkit-user-select: none // Safari
  -khtml-user-select: none // Konqueror HTML
  -moz-user-select: none // Firefox
  -ms-user-select: none // Internet Explorer/Edge

@media only screen and (min-width: 320px)
  header
    font-size: 1.2rem

  nav
    font-size: 1.2rem

@media only screen and (min-width: 480px)
  header
    font-size: 1.5rem

  nav
    font-size: 1.2rem

  main
    font-size: 1.2rem

@media only screen and (min-width: 796px)
  header
    font-size: 2.5rem

  nav
    font-size: 2rem

  main
    font-size: 1.5rem
